html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }

  body{
      margin-bottom:90px;
  }

 .footer {
    position: absolute;
    bottom: 0;
    height: 70px; /* Set the fixed height of the footer here */
    background:#d13138;
    text-align:center;
    width:100%;
  }




  .header{
    background: #d13138;
    color:#fff;
    text-align:center;
    margin-bottom:20px;
}
h1{
    font-weight:bold;
    padding-bottom:50px;
}

#burgerImg{
  padding:30px 0px;
}

/* #burgerImg img{
    width:20%;
} */


.contentContainer{
   
    border-radius:5px;
    margin-bottom:20px;
}

.contentContainer h3{
    padding:10px;
    background:#d13138;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    color:#fff;
    margin: auto;
    padding-left:15px;
    font-weight:bold;
    font-size:1.5em;
}

.devouredTitle h3{
background:#ff4f5e;
}

.insideContainer{
    padding:20px;
    background:#F9F9F9;
    overflow-x:auto;
    border: 1px solid #ddd;
}

.container{padding:0;}

#github{
  margin-top:15px;
}

.beenDevoured h3{
    background:#d13138;
}


.orderBurger h3{
    background:#d13138;
    text-align: center;
}

.submit-button{
    font-weight:bold;
}

.orderBurger h5{
    font-weight:bold;
}

.btn{
    margin-left:0;
    text-transform: unset;
    font-weight:bold;
    font-size:1em;
    padding-top:10px;
    padding-bottom:10px;
  }



  .card-body{
    padding:1rem 1.25rem;
    text-align: center;

  }


  .card .card-body h5{
    font-weight:bold;
    /* float:left; */
  }

  .card-title{
    margin-bottom:0px;
  }

  .submit-button{
    background:#d13138;
  }

  .btn:hover{
      color:#f1f1f1;
  }


  @media (max-width:768px){
.readyToEat{
    margin-bottom:20px;
}

  
}
  

/* @media (min-width: 768px) and (max-width: 991.98px) { 
    .burgers{
        float:left;
    }
  
} */